Repository no10ds/rapid, pull requests merged in 2023-10, with the labels that each got.

#38 Create Clients via SDK
  .github/workflows/dev.yml
  Makefile
  sdk/Makefile
  sdk/rapid/exceptions.py
  sdk/rapid/rapid.py
  sdk/tests/test_rapid.py
Labels: enhancement, sdk

#39 Fix - create schema
  .github/workflows/ui-tests.yml
  sdk/rapid/rapid.py
  sdk/tests/test_rapid.py
  ui/package-lock.json
  ui/package.json
  ui/playwright/test-user-flow.spec.ts
Labels: bug, sdk

#45 Add style guide to docs
  docs/api/schema.md
Labels: documentation

#46 Fix ensure we handle data info stats dates correctly
  api/api/application/services/data_service.py
  api/test/api/application/services/test_data_service.py
Labels: bug, api
